.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

/* Header */

.header {
 text-align: center;
 font-size: 1.3em;
 background: white;
 border-bottom: solid 1px gray;
 display: flex;
 justify-content: center;

 padding: 10px;
 margin-bottom: 40px;
}

/* Apointments*/

ul {
  list-style: none;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
}

.block {
  border-radius: 4px;
  background-color: white;
  border: 2px solid gray;
  list-style-type: none;
  margin: 16px;
  padding: 20px;
  width: 200px;
  height: auto;
  font-size: 1.2em;
}

.block-taken {
  border-radius: 4px;
  background-color: red;
  border: 2px solid gray;
  list-style-type: none;
  margin: 16px;
  padding: 20px;
  width: 200px;
  height: auto;
  font-size: 1.2em;
}

/* Modal */

.modal-bg {
position: fixed;
background-color: rgba(0,0,0,0.8);
padding: 50px;
top: 0;
bottom: 0;
left: 0;
right: 0;

}

.modal-body {
  position: relative;
  margin: auto;
  padding: 60px;
  margin-top: 40px;
  min-height: 400px;
  max-width: 500px;
  border-radius: 4px;
  background-color: lightblue;
  font-size: 1em;

}

#close {
  position: absolute;
  right: 20px;
  top: 20px;
}
#close button {
  padding: 6px;
  border-radius: 4px;
}

input {
  height: 2.4em;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 200px;
  padding: 8px;
}

.submit-button {
  font-size: 1.2em;
  padding: 8px;
  border-radius: 4px;
}